<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Gmail">
    <listeners>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="com.epam.lab.utils.report.ReportListener"/>
    </listeners>
    <test name="Test Send Letter">
        <parameter name="browser" value="firefox"/>
        <parameter name="username" value="testseleniumlab5@gmail.com"/>
        <parameter name="password" value="teStlab#5"/>
        <classes>
            <class name="com.epam.lab.tests.TestGmail"/>
        </classes>
    </test>
</suite>